body {
  background-color: #f4ecd8;
  font-family: Georgia, "Times New Roman", serif;
  color: #2b1d0e;
  max-width: 900px;
  margin: auto;
  padding: 40px;
}

h1 {
  font-size: 3em;
  border-bottom: 3px solid #8b6f47;
  padding-bottom: 10px;
}

h2 {
  margin-top: 40px;
  border-bottom: 2px solid #8b6f47;
  padding-bottom: 5px;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
}

ul {
  list-style-type: square;
}
